<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>


	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
</head>
<body>
<section class="section-wrapper container" id="whatever">
		<h2 class="section-title">
			Modifica orasul
		</h2>
        <form style="color:#696969">
			<div class="form-group">
				<label for="name">Nume:</label>
				<input name="name" class="form-control" id="name" placeholder="{{ city[1] }}">
			</div>
			<div class="form-group">
				<label for="country">Tara:</label>
				<input name="country" class="form-control" id="country" placeholder="{{ city[2] }}">
			</div>
			<div class="form-group">
				<label for="rating">Rating:</label>
				<input name="rating" class="form-control" id="rating" placeholder="{{ city[3] }}">
			</div>
			<button type="submit" class="btn btn-default" formmethod="POST">Submit</button>
		</form>
	</section>
</body>
</html>